<section id="primary-content">
    <div class="wrapper-center">
        <h1 class="above">Missions You Can Choose</h1>
        <div id="missions-path">Home >> Missions That You Can Choose From</div>
        <div id="medium">
            {{#each missions}}
            <section id="medium-content">
                <h1>{{title}} created by {{author}}</h1>
                <img src="/public/images/border.png">
                <address>Posted by {{author}} on {{date}} | 30 Comments</address>
                <div id="p-1">
                    <img id="box" src="{{image}}">
                    <div id="description"><p>{{description}}</p></div>
                    <a href="#/missions/{{id}}" id=""><button class="btn">Read More</button></a>
                </div>
            </section>
            <aside>
                <div>
                    <h2>Recent Missions</h2>
                    <div id="a-1">
                        <p>{{description}}
                        </p>
                    </div>
                </div>
                <div>
                    <h2 id="second-h2">Recent Missions</h2>
                    <div id="a-2">
                        <p>{{description}}
                        </p>
                    </div>
                </div>
            </aside>
        </div>
        {{/each}}
                    <img class="last-border" src="/public/images/border-right.png">
        <div id="pagination">
            <div class="pagination">
                <p>Page 1 of 4</p>
                <a class="page" href="#/missions?page=1">1</a>
                <a class="page" href="#/missions?page=2">2</a>
                <a class="page" href="#/missions?page=3">3</a>
                <a class="page" href="#/missions?page=4">4</a>
                {{!--<a href="#/missions?page=5">5</a>
                <a href="#/missions?page=6">6</a>--}}
            </div>
        </div>
    </div>
</section>